<div class="allcomment-main">
	<div class="header">
		<i onclick="window.history.go(-1)"></i>
		<span ng-bind-template="全部评价（{{AllProductComment.cnt}}）"></span>
	</div>
	<ul class="list">
		<li ng-repeat="comment in AllProductComment">
			<dl class="user-conmment">
				<dd class="user-info">
					<div class="user-img"><img lazy-src="{{comment.userImagePath}}"></div>
					<span class="user-name">{{comment.nickname}}<img src="http://appbuilder.loongjoy.com/phoneweb/app/img/forum_icon_grade_1_dis.png"></span>
					<span class="star"><i class="yellow" style="width: {{ comment.score*.4}}rem;"></i><i class="gray" style="width: {{ (5-comment.score)*.4 }}rem"></i></span>
				</dd>
				<dd class="user-des" ng-bind-template="{{comment.content}}"></dd>
				<dd class="conmment-date" ng-bind-template="{{comment.updateTime}}"></dd>
				<dd class="seller" ng-if="comment.reply">
					<span class="name">商户回复：</span>
					<span class="date" ng-bind-template="{{comment.reply.updateTime}}"></span>
					<div ng-bind-template="{{comment.reply.content}}"></div>
				</dd>
			</dl>
		</li>
	</ul>
</div>