<div class="product-main product-list-main">
	<div class="header">
		<i ui-sref="product"></i>
		<span ng-bind-template="{{listName||'品类'}}"></span>
		<a class="car" ng-click="goCar()"></a>
	</div>
	<div class="list">
		<dl ng-repeat="product in productList">
			<dt>
				<a ui-sref="product-detail({id: product.id})"><img lazy-src="{{product.imagePath}}"></a>
				<span class="block-status" ng-if="product.promotionStatus==1">即将开抢</span>
				<span class="block-status" ng-if="product.promotionStatus==2">马上抢</span>
				<span class="block-status" ng-if="product.promotionStatus==3">已抢光</span>
				<i ng-if="product.type==2&&product.promotionType==1" class="promotion-icon"><img src="http://appbuilder.loongjoy.com/phoneweb/app/img/search_zhe.png"></i>
				<i ng-if="product.type==2&&product.promotionType==2" class="promotion-icon"><img src="http://appbuilder.loongjoy.com/phoneweb/app/img/search_jian.png"></i>
				<i ng-if="product.type==2&&product.promotionType==3" class="promotion-icon"><img src="http://appbuilder.loongjoy.com/phoneweb/app/img/search_man.png"></i>
				<i class="hot" ng-if="product.isHot==1"></i>
			</dt>
			<dd class="txt"><a ui-sref="product-detail( {id:product.id} )" ng-bind-template="{{product.name}}"></a></dd>
			<dd class="delete"><span ng-if="product.promotionPrice<product.price">&yen;&nbsp;{{product.price}}</span></dd>
			<dd>&yen;<span>{{product.promotionPrice||product.price}}</span><span class="sale" ng-bind-template="已售{{product.saleCount}}件"></span></dd>
		</dl>
	</div>
</div>
<div style="height:1rem;"></div>
<rfooter productlink="product-list" articlelink="article"></rfooter>
